# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.KnowlodgeShare.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\CwProjects\knowledge-sharing-platform\src\KnowlodgeShare\.idea\.idea.KnowlodgeShare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
