<div style="text-align: -webkit-center;">
    <div class="es-grid" shouldresizegrid="10" style="--536b9410:10px; --5b1e5244:repeat(1, 1fr); --ef3ac5dc:min-content; --2b2a4584:1; --33f68778:100%;width: 50%;">
        <div class="esu-box es-box" cardtype="classic" customcss=".es-footer-btn{
        background-color: #1878F3;
        border-radius: 6px;
        padding: 8px 12px;
        }
        .es-header-btn{
            border-radius: 6px;
    padding: 8px 12px;}" columns="repeat(3, 1fr)" columnsonmobile="1" cardspacing="10" language="english" columnstype="Fixed" columnsdesktop="3" postsperpage="15" navigation="load more" style="--61267160:flex-start; --5e23bc79:15px; --275e46e6:pointer; --b568d6ae:column; --aec8b53a:50%; --5d11d412:20px; --d918213a:left; --7b9d289e:#000000; --4e3112c4:row; --2539fe31:space-between; --17f74910:row; --4c713832:left; --958db9b8:2;">
            <div class="esu-text-box es-text-box">
                <div class="es-box-items"><div class="es-box-items-inner"><img class="esu-avatar es-avatar" src="https://embedsocial.com/admin/source-cover-photo-link/100960415004983.jpeg" alt="User avatar"><div class="es-details"><div class="esu-username es-username">EScommerce Shop</div><div class="esu-date es-date"></div></div></div><div class="esu-logo es-logo"><svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="Facebook logo."><path d="M22.5 15.4999C22.5 23.7842 23.3319 29.9999 15.0307 29.9999C6.72946 29.9999 7.00004 24.2842 7.00004 15.9999C7.00004 7.71562 8.19878 3 16.5 3C24.8012 3 22.5 7.21562 22.5 15.4999Z" fill="#ffffff"></path><path d="M15.0001 0C6.71585 0 0 6.70214 0 14.9695C0 22.3844 5.40783 28.6 12.4984 29.7891V18.0926H8.87992V13.9104H12.4984V10.8266C12.4984 7.24857 14.6882 5.29875 17.8871 5.29875C19.4191 5.29875 20.7357 5.41268 21.1179 5.46286V9.20286L18.8993 9.20393C17.16 9.20393 16.8247 10.0286 16.8247 11.2391V13.9082H20.9748L20.4335 18.0904H16.8247V29.8945C24.2463 28.9931 30 22.6156 30 14.9652C30 6.70214 23.2841 0 15.0001 0Z" fill="#1778f2"></path></svg></div></div><!--v-if--><div class="es-text-container">
                    <div class="esu-caption-text es-caption-text es-text">
                        Fashion can signify the latest trends, but may often reference fashions of a previous era, leading to the understanding of fashions from a different time period re-appearing. 🤩

                        #escommerceshop
                    </div><div class="esu-text-toggle es-text-toggle">See more</div>
                </div><!--v-if--><!--v-if--><!--v-if-->
            </div><div class="esu-media-box es-media-box"><!--v-if--><!--v-if--><picture style="--411525ca:16/9; --0ab367bc:cover;"><source srcset="https://embedsocial.com/admin/media/feed-media/10096/100960415004983_639438047823881/image_0.webp?v=1666968495" type="image/webp"><!--v-if--><img class="esu-photo es-photo" src="https://embedsocial.com/admin/media/feed-media/10096/100960415004983_639438047823881/image_0.jpeg?v=1666968495" loading="lazy" height="570" width="628" alt="Media photo"></picture><!--v-if--></div>
        </div>
    </div>
</div>
