@using System.Linq
@using KnowledgeShare.Core.Posts
@inject ISearchPostService SearchPostService;

<h1>Social Feed</h1>

<ListView Items="@PostsToShow">
    <ItemTemplate>
        
        @foreach (var postResult in PostsToShow)
        {
            <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
                    <RadzenCard class="rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem;">
                        <RadzenText TextStyle="TextStyle.H6" class="rz-color-primary-light"><strong>@postResult.Title</strong></RadzenText>
                        <RadzenRow RowGap="0">
                            <RadzenColumn SizeSM="8">
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">Id</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1"><b>@postResult.Id</b></RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenCard>
                </RadzenCard>   
        }
    </ItemTemplate>
</ListView>

@code {
    private IEnumerable<SearchPostResultDto> AllPosts = new List<SearchPostResultDto>();

    private List<SearchPostResultDto> PostsToShow = new List<SearchPostResultDto>();

    protected override async Task OnInitializedAsync()
    {
        AllPosts = await SearchPostService.RecommendAsync();
        PostsToShow = AllPosts.Take(10).ToList();
    }
}