<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a href="/signout-callback-oidc">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/signin-oidc">Log in</a>
    </NotAuthorized>
</AuthorizeView>
