@code {
    [Parameter]
    public string Title { get; set; }
  
    [Parameter]
    public string Body { get; set; }
  
    [Parameter]
    public string Link { get; set; }
}
<div class="card">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">@Title</h5>
    <p class="card-text">
      @Body
    </p>
    <h6 class="card-title">@Link</h6>
    <a href="#!" class="btn btn-primary">Read</a>
  </div>
</div>