@page "/bookpost/{Id:guid}"
@using KnowledgeShare.Core.Posts.Types
@inject IGetBookPostService GetBookPostService


@if (BookPost is not null)
{
    <h1>@BookPost.Title</h1>
    <div class="row">
        <RadzenLabel Text=@BookPost.GetBookAuthor() />
        <RadzenLabel Text=@BookPost.GetSummary() />
        <RadzenLabel Text="@BookPost.GetDateTimeCreated().ToShortDateString()" />
        <RadzenLabel Text="@BookPost.GetAuthor().Name" />
        <div class="row" style="margin-top: 20px;">
            @foreach (var tag in BookPost.Tags)
            {
                <RadzenBadge Text=@tag.Value Style="max-width: 90px; margin-right: 5px;"></RadzenBadge>
            }
        </div>
    </div>
    <div><RadzenIcon Icon="thumb_up" /><span>Like</span></div>
}

@code {
    [Parameter]  
    public Guid Id { get; set; }

    public BookPost? BookPost = null;
    
    protected override async Task OnInitializedAsync()
    {
        BookPost = await GetBookPostService.GetBookPostAsync(Id);
    }
}