@using KnowledgeShare.Core
@using KnowledgeShare.Core.Authentication
@using KnowledgeShare.Core.People
@using KnowledgeShare.Core.Social
@inject ICreateLikeRelationshipService CreateLikeRelationshipService;
<div class="actions">
    <p class="likes"><RadzenIcon disabled="@hasLiked" class="like-button" @onclick="Like" Icon="favorite" /> @likeCount</p>
</div>

<style>
    .actions {
        display: flex;
        align-items: center;
    }

    .like-button {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #06c;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .like-button:hover {
        text-decoration: underline;
    }

    .likes {
        font-size: 14px;
        color: #888;
        margin: 0 0 0 10px;
    }
</style>

@code {
    [Parameter]  
    public Guid id { get; set; }
    
    [Parameter]  
    public int likeCount { get; set; }

    [Parameter]
    public bool hasLiked { get; set; }
    
    
    protected override async Task OnInitializedAsync()
    {
    }
    
    private async Task Like()
    {
        if (hasLiked is false)
        {
            await CreateLikeRelationshipService.CreateLike(id);
            hasLiked = true;
            likeCount++;   
        }
    }
}