@page "/bookpost/{Id:guid}"
@using KnowledgeShare.Core.Posts.Types
@inject IGetBookPostService GetBookPostService


@if (BookPost is not null)
{
    <h1>@BookPost.Title</h1>
}

@code {
    [Parameter]  
    public Guid Id { get; set; }

    public BookPost? BookPost = null;
    
    protected override async Task OnInitializedAsync()
    {
        BookPost = await GetBookPostService.GetBookPostAsync(Id);
    }
}