@using KnowledgeShare.Core.Posts.Types
@inject IGetArticlePostService GetArticlePostService;
@inject NavigationManager NavigationManager;


@if (ArticlePost is not null)
{
    <RadzenCard Style="margin-top: 40px; padding: 20px 40px 40px; width: 800px; float: none">
        <div class="row">
            <RadzenLabel Text=@ArticlePost.Title
                         Style="font-style: normal; text-transform: none; font-size: 24px; font-weight: bold" />
        </div>
        <div class="row">
            <RadzenLabel Text=@ArticlePost.GetSummary() />
            <div class="row" style="margin-top: 20px;">
                @foreach (var tag in ArticlePost.Tags)
                {
                    <RadzenBadge Text=@tag.Value Style="max-width: 90px; margin-right: 5px;"></RadzenBadge>
                }
            </div>
            <div class="row rz-justify-content-right" style="margin-top: 20px; float: none">
                <RadzenButton Click="() => GoToPost()" Style="width: 72px; height: 26px; float: none" Text="View"></RadzenButton>
            </div>
        </div>
    </RadzenCard>
}

@code {
    [Parameter]  
    public Guid Id { get; set; }

    public ArticlePost? ArticlePost = null;

    protected override void OnInitialized()
    {
        Task t = Task.Run(async () =>
        {
            ArticlePost = await GetArticlePostService.GetArticlePostAsync(Id);
        });
        Task.WaitAll(t);
    }
    
    private void GoToPost()
    {
        NavigationManager.NavigateTo($"/articlepost/{ArticlePost.Id}");
    }
}