@page "/articlepost/{Id:guid}"
@using KnowledgeShare.Core.Posts.Types
@inject IGetArticlePostService GetArticlePostService


@if (ArticlePost is not null)
{
    <h1>@ArticlePost.Title</h1>
    <div class="row">
        <RadzenLabel Text=@ArticlePost.GetSummary() />
        <LinkPreview Link="@ArticlePost.GetLink()" />
        <RadzenLabel Text="@ArticlePost.GetDateTimeCreated().ToShortDateString()" />
        <RadzenLabel Text="@ArticlePost.GetAuthor().Name" />
        <div class="row" style="margin-top: 20px;">
            @foreach (var tag in ArticlePost.Tags)
            {
                <RadzenBadge Text=@tag.Value Style="max-width: 90px; margin-right: 5px;"></RadzenBadge>
            }
        </div>
    </div>
    <div><RadzenIcon Icon="thumb_up" /><span>Like</span></div>
}

@code {
    [Parameter]  
    public Guid Id { get; set; }

    public ArticlePost? ArticlePost = null;
    
    protected override async Task OnInitializedAsync()
    {
        ArticlePost = await GetArticlePostService.GetArticlePostAsync(Id);
    }
}